---
import Layout from '../layouts/BlogPost.astro';
---

<Layout
	title="About Me"
	description="Introduction"
	pubDate={new Date('August 08 2023')}
	heroImage="https://ipfs.io/ipfs/QmcNK7dVcizt7Bwth9sZLj98MgBfGXE8T3WVcrJTzi3pVm/2.jpeg"
>
	<p>
		I am a software developer specializing in Algorithm Development, Backend System, Machine Learning, Web3 Smart Contract, 
		and Security Reconnaissance. I have 4 years of professional experience in Information Technology. 
	</p>

	<p>
		I did projects in "Smart CRM", "Generative AI for Particle Physics Modeling", "Geo-Tracking Map", "Healthcare Computer Vision Model", 
		"Financial Trading Mobile Application", "Smart Contract for Insurance", "Go Chess Game Rust Contract", and "Asset Finder Pentesting Project".
	</p>

	<p>Tech Stack</p>
	<div class="div">
		<ul>
			<li>- Rust</li>
			<li>- Javascript</li>
			<li>- Python</li>
			<li>- Golang</li>
			<li>- Typescript</li>
			<li>- Scikit Learn</li>
			<li>- Tensorflow</li>
			<li>- PyTorch</li>
			<li>- Keras</li>
			<li>- React</li>
			<li>- NextJs</li>
			<li>- Astro</li>
			<li>- MySQL</li>
			<li>- PostgreSQL</li>
			<li>- MongoDB</li>
			<li>- EVM</li>
		</ul>
	</div>

	<p>Location: Hong Kong + Remote Everywhere.</p>
</Layout>

<style>
	li {
		list-style-type: none;
	}
	.div {
		display: flex;
	}
	.div div {
		margin-right: 40px;
	}
</style>
